/* Basic reset */
body, h1, a, img, video, header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
}

header {
    text-align: center;
    padding: 20px 0; /* Add padding top and bottom */
    display: flex; /* Use flexbox to align logo, heading, and link */
    flex-direction: column; /* Stack items vertically by default */
    align-items: center; /* Center items horizontally */
}

.logo {
    max-width: 100px; /* Adjust the maximum width of the logo as needed */
    height: auto;
    margin-bottom: 10px; /* Add some space below the logo */
}

h1 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
}

a {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.video-placeholder {
    text-align: center; /* Center the video placeholder image */
    margin-top: 20px; /* Add some space above the video placeholder */
}

.video-placeholder img {
    max-width: 80%; /* Make the image responsive within its container */
    height: auto;
    display: block; /* Prevent extra space below the image */
    margin: 0 auto; /* Center the image horizontally */
}

.mobile-video-container {
    text-align: center; /* Center the video */
    margin-top: 20px; /* Add some space above the video */
}

.mobile-video-container video {
    max-width: 80%; /* Make the video responsive */
    height: auto;
    display: block; /* Prevent extra space below the video */
    margin: 0 auto; /* Center the video horizontally */
}

/* Media query for larger screens to arrange header items horizontally */
@media (min-width: 768px) {
    header {
        flex-direction: row; /* Arrange logo, heading, and link in a row */
        justify-content: center; /* Space them out */
    }

    .logo {
        margin-right: 20px; /* Add space to the right of the logo */
        margin-bottom: 0; /* Remove bottom margin when in a row */
    }

    h1 {
        margin: 0 20px; /* Add horizontal margin to the heading */
    }
}
